@model TicketReservationApplication.Entities.Reservation

<h1>Reservate</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reservate" method="post">
            @if (ViewBag.Message != null)
            {
                <div class="form-group" , style="color: green;">@ViewBag.Message</div>
            }
            <!-- Ukryte pole przesyłające ScreeningId -->
            <input type="hidden" asp-for="ScreeningId" />

            <button type="submit">Reservate</button>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Go back", "ViewScreeningDetails", "Screening",  new { id = Model.ScreeningId}) |
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}